
@{
    ViewBag.Title = "Gallery";
}
<h2>@ViewBag.Title.</h2>
<h>This is a helpfull video area</h>

<div class="col-lg-12">


<div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <a class="thumbnail" href="#">
        <iframe width="240" height="220" src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"></iframe>
    </a>
</div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <iframe width="240" height="220" src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"></iframe>
        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <iframe width="240" height="220" src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"></iframe>
        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <iframe width="240" height="220" src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"></iframe>
        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <iframe width="240" height="220" src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"></iframe>
        </a>
    </div>


    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <iframe width="240" height="220" src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"></iframe>
        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <iframe width="240" height="220" src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"></iframe>
        </a>
    </div>


    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <iframe width="240" height="220" src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"></iframe>
        </a>
    </div>


    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <iframe width="240" height="220" src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"></iframe>
        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <iframe width="240" height="220" src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"></iframe>
        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <iframe width="240" height="220" src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"></iframe>
        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
            <iframe width="240" height="220" src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"></iframe>
        </a>
    </div>

</div>