

@{
    ViewBag.Title = "Live Chat";
}

<div id="wrapper">
    <div id="menu">
        <p class="welcome">Welcome, <b></b></p>

        <div style="clear:both"></div>
    </div>

    <div id="chatbox"></div>

        <form name="message" action="">
        <input name="usermsg" type="text" id="usermsg" size="200" />
        <input name="submitmsg" type="submit" id="submitmsg" value="Send" />
        <p class="logout"><a id="exit" href="#">Exit Chat</a></p>
         </form>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript">
// jQuery Document
$(document).ready(function(){

});
</script>
