
@{
    ViewBag.Title = "Patient Index";
    IEnumerable<String> errors = (IEnumerable<String>)ViewData["Errors"];
}

<h1>Login or Register</h1>

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Login</h3>
            @Html.Partial("PatientLoginPartial")
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Register</h3>
            @Html.Partial("PatientRegisterPartial")
        </div>
    </div>
</div>

