@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>



<div class="container">
    <section class="section">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="content">
                        <div class="pull-middle">
                            <h2 class="h1 page-header">About us</h2>
                            <ul class="media-list">
                                <li class="media">

                                    <div class="media-body">
                                        <h3 class="media-heading">Let us tell you How we started...</h3>
                                        <p>
                                            After an honours primary degree in Science from UCD specialising in biochemistry, I qualified in medicine
                                            from the Royal College of Surgeons in Dublin. I was a research fellow in endocrinology and following this I finished
                                            hospital training working in some of the main Dublin teaching hospitals before completing general practice
                                            experience.
                                            I have a specific interest in the areas of pre-hospital emergency care, and I'm an examiner for the Pre-Hospital
                                            Emergency Care Council in Ireland. In addition, the areas of womens health, travel medicine, reactive depression
                                            and mens health are of special interest.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                                <div class="media-body">
                                    <h3 class="media-heading">This is how our patients see us.</h3>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Mary Keating says:</div>
                                                <div class="panel-body">
                                                Panel content
                                        </div>
                                    </div>
                                </div>
                        </div>

                    </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">John says:</div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div>                 
                   
                </div>
            </div>
    </section>
</div>
              
