@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Consult</h1>
    <p class="lead">We provide an online Patient-GP consultation environment</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <p><a href="/Patients" class="btn btn-primary btn-lg">I am a Patient</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <p><a href="/Doctors" class="btn btn-primary btn-lg">I am a Doctor &raquo;</a></p>
            </div>
        </div>
    </div>
</div>