@model IEnumerable<OnlineConsult.Models.Doctor>
@{ 
    OnlineConsult.Models.ApplicationDbContext db = new OnlineConsult.Models.ApplicationDbContext();
}

<select name="listbox" id="listbox">
    @foreach (var item in Model)
    {
        <option value="@item.UID">
            @item.fullName
        </option>
    }
</select>



